.add-medication-section-container {
  flex: 1 1 35%;
  margin-top: 2rem;
}
.add-button-container {
  text-align: right;
  margin-right: 4rem;
}

.close-button-container {
  text-align: right;
}

.close-button {
  outline: none;
  background: transparent;
  border: none;
  /* border: solid 1px grey;
  border-radius: 2rem; */
  padding: 0.25rem 0.5rem;
  color: grey;
  font-size: 1.2rem;
  font-weight: 500;
}

.close-button:hover {
  color: black;
}

.close-button:active {
  color: grey;
}

.add-medication-container {
  margin: 3rem;
  padding: 2rem;
  border: solid 1px darkgrey;
  border-radius: 8px;
}

.add-medication-container h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.input-control {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.input-control label {
  font-weight: bold;
}

.input-control select {
  font-size: 0.9rem;
  padding: 0.25rem;
  border-color: darkgrey;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.input-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-reminder-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.input-reminder-heading {
  font-weight: bold;
}

.input-reminder-options label {
  padding-left: 0.25rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.form-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-error-message {
  color: brown;
  font-size: 0.8rem;
  font-weight: 600;
}

.form-input-error input,
.form-input-error select {
  border: solid 2px brown;
  background-color: rgb(242, 225, 225);
}
