.step-container {
  flex-basis: 352px;
  aspect-ratio: 3/2;
  border: solid 1px #0578c7;
  background-color: #eef8ff;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.75rem;
}

.step-number {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  background: url("../assets/Guard.svg") no-repeat center;
}

.step-details h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  color: #06578e;
}

.step-details p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #3c4245;
}
