.step-container {
  flex-basis: 352px;
  aspect-ratio: 3/2;
  background-color: #c8ebff;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
}

.step-number {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #0578c7;
  border-radius: 500px;
  padding: 0.5rem 1rem;
}

.step-details h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
