.hero-section {
  width: 80%;
  border-radius: 8px;
  background-color: #0578c7;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 3rem;
}

.hero-text-container {
  flex-basis: 50%;
}

.hero-section h1 {
  font-size: 1.8rem;
  color: white;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.hero-section p {
  font-weight: bold;
  padding: 1rem 0;
}

.hero-image-container {
  align-self: flex-end;
}

.hero-section img {
  width: 100%;
  object-fit: cover;
  overflow: visible;
  display: inline-block;
  vertical-align: middle;
}

.buttons-container {
  display: flex;
  gap: 1.5rem;
}

.how-it-works-section {
  margin-bottom: 3rem;
}

.how-it-works-section h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.how-it-works-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.services-section {
  padding: 3rem 0;
}

.services-section h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.services-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  margin-top: 2rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgb(205, 205, 205);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer li {
  list-style: none;
  border: solid 1px black;
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
}
